.card_image{
    border-radius: 10px;
    border: orangered 3px solid ;
    width: 230px;
    height:190px;
    background-color: transparent;
    opacity: 0.9;
   
}  

.card_image:hover{
    opacity: 1;
}