.landing_page {
    background-image: url('../images/oscuro1.webp');
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: contain;
    padding-top: 80px;
    margin: -40px;
    background-color: black;
   
}

.title_landing{
    width: 60rem;
    margin-left: 35rem;
    margin-top: 9rem;
    padding-left: 3rem;
    background: linear-gradient(50deg,orange, rgb(145, 49, 5));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.7rem;
    
    
}

.subtitle_landing {
    
    margin-top: 2.5rem;
    margin-left: 55rem;
    padding-left: 3rem;
    width: 20rem;
    justify-content: center;
    text-align: center;
    word-spacing: 0.1cm;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(128, 21, 21);


}

.button_landing {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 60px;
    margin-left: 51rem;
    margin-top: 1.8rem;
    
}

.button_landing:hover {
    outline-offset: 80px;
    text-shadow: 5px 5px 5px white;
    border: none;
}